<!DOCTYPE html>
<html>
<head>
    <title>Digit Recognition</title>
    <!-- <link href="style.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="justify-content: center;">Handwritten Digit Recognition (CNN)</h1>

    <form id="form" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Predict</button>
    </form>

    <div class="container">
    {% if prediction is not none %}
        <h2>Predicted Digit: {{ prediction }}</h2>
    {% else %}
        <p>Upload an image and click Predict</p>
    {% endif %}
    </div>
        
    

     <!-- {% if prediction is not none %}
        <h2>Predicted Digit: {{ prediction }}</h2> 
                 <h2>Predicted Digit:  </h2> 

    {% endif %} -->
</body>
</html>
